<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/layout.html}">
    <th:block layout:fragment="headers-extras">
    	<link th:href="@{/css/select2.min.css}" rel="stylesheet" />
    	<link th:href="@{/css/select2-bootstrap-5-theme.min.css}" rel="stylesheet" />    	
    	<style>
    	</style>
    </th:block>

<body>
	<main class="my-5" layout:fragment="content">
		<div class="row justify-content-between text-end">
			<div class="col"></div>
			<div class="col">
				<a type="button" class="btn btn-secondary" th:href="@{/addresses}"><i
					class="fa fa-list" aria-hidden="true"></i> Listar Endereço</a>
			</div>
		</div>
		<div class="alert alert-success" role="alert" style="margin-top: 10px;" th:unless="${#strings.isEmpty(msgOk)}">
		  <span th:text="${msgOk}"></span>
		</div>
		<div class="alert alert-danger" role="alert" style="margin-top: 10px;" th:unless="${#strings.isEmpty(msgError)}">
		  <span th:text="${msgError}"></span>
		</div>
		
		<form class="row g-3" th:method="${address.id} == null ? 'post' : 'put'" th:object="${address}"
			th:action="${address.id} == null ? @{/addresses/create} : @{/addresses/update/{id}(id=${address.id})}">
			<input type="hidden" th:field="*{id}">
			<div class="col-md-3">
				<label for="postal-code" class="form-label">CEP</label> <input
					type="text" class="form-control" id="postal-code" th:field="*{postalCode}">
			</div>
			<div class="col-md-9">
				<label for="street" class="form-label">Endereço</label> <input
					type="text" class="form-control" id="street"
					th:field="*{street}"
					th:classappend="${#fields.hasErrors('street')}? 'is-invalid'">
			</div>
			
			<div class="col-md-2">
				<label for="address" class="form-label">Número</label> <input
					type="text" class="form-control" id="number"
					th:field="*{number}"
					th:classappend="${#fields.hasErrors('number')}? 'is-invalid'">
			</div>
			<div class="col-md-5">
				<label for="complement" class="form-label">Complemento</label> <input
					type="text" class="form-control" id="complement"
					th:field="*{complement}">
			</div>
			<div class="col-md-5">
				<label for="country" class="form-label">Bairro</label> <input
					type="text" class="form-control" id="country"
					th:field="*{country}">
			</div>
			
			<div class="col-md-4">
				<label for="city" class="form-label">Cidade</label> <input
					type="text" class="form-control" id="city"
					th:field="*{city}">
			</div>
			<div class="col-md-4">
				<label for="address" class="form-label">UF</label> 
				<select id="state" class="form-select" name="state" th:field="*{state}">
					<th:block th:replace="~{template/state :: state}"></th:block>										
				</select>
			</div>
			<div class="col-md-4">
				<label for="client" class="form-label">Cliente</label>
				<div class="d-flex">
				<select id="client" class="form-select" name="client" th:field="*{client.id}"
					th:classappend="${#fields.hasErrors('client.id')}? 'is-invalid'">
					<option value="">Selecione um cliente...</option>
					<option th:each="client : ${listClients}" th:value="${client.id}" th:text="${client.fullName}"></option>
				</select><br/>
				<button class="btn btn-primary js-modal-client" type="button"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
				</div>
			</div>
			
			<div class="col-12">
				<button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"
						aria-hidden="true"></i> <span th:text="${address.id} == null ? 'Salvar' : 'Editar'"></span></button>
			</div>
		</form>
		
		<div id="modal-client" class="modal" tabindex="-1">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<form id="form-modal-client">
						<div class="modal-header">
							<h5 class="modal-title">Criar Cliente</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">						
							<div class="col-md-12">
								<label for="first-name" class="form-label">Primeiro Nome</label> <input
									type="text" class="form-control" name="firstName" id="first-name">
							</div>
							<div class="col-md-12">
								<label for="last-name" class="form-label">Sobre Nome</label> <input
									type="text" class="form-control" name="lastName" id="last-name">
							</div>
							<div class="col-md-12">
								<label for="email" class="form-label">E-mail</label> <input
									type="email" class="form-control" name="email" id="email" >
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-success js-add-address"><i class="fa fa-plus-circle"
									aria-hidden="true"></i> Adicionar</button>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		
	</main>
	
	<th:block layout:fragment="javascripts-extras">
		<script th:src="@{/js/select2.min.js}"></script>
		<script>
			$(document).ready(function () {
				$('#postal-code').mask('99999-999');
				$('#client').select2({
				    theme: 'bootstrap-5'
				});
				
				$('.js-modal-client').on('click', function(){
					$('#modal-client').modal('show');
				});
				
				$('#form-modal-client').on('submit', function() {
					event.preventDefault();
					const data = $('#form-modal-client').serializeJSON();
					$.ajax({
						url: `/api/v1/clientes`,
						type: 'POST',
						data: data,
						beforeSend: function() {
							$.blockUI(optionsBlockUI);
						},
						success: function(response) {
							$('#modal-client').modal('hide');
							let option = `<option value='${response.id}' selected>${response.firstName} ${response.lastName}</option>`;		
							$('#client').append(option);
						},
						error: function(xhr) {
						
						},
						complete: function() {
							$.unblockUI();
						}
					});					
				});
				
				$('#postal-code').on('keyup paste', function () {
					const cep = $('#postal-code').val().replace(/[^\d]/g, '');
					if (cep.length == 8) {
						$.ajax({
							url: `/api/v1/addresses/${cep}/zipcode`,
							beforeSend: function () {
								$.blockUI(optionsBlockUI);
							},
							success: function (response) {
								$.each(response, (key, item) => {
									if (key === 'state') {
										$(`select[name=${key}]`).val(item);
									} else {
										$(`input[name=${key}]`).val(item);
									}
								})
							},
							complete: function () {
								$.unblockUI();
							}
						});
					}
				});
			});
		</script>
	</th:block>
</body>
</html>