<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/layout.html}">

<th:block layout:fragment="headers-extras">
	<style>
.card {
	margin-top: 5px;
}

.title {
	font-weight: bold;
	padding-right: 10px;
}
</style>
</th:block>

<body>
	<main class="my-5" layout:fragment="content">
		<div class="row justify-content-between text-end">
			<div class="col"></div>
			<div class="col">
				<a type="button" class="btn btn-secondary"
					th:href="@{/clients/create}"><i class="fa fa-plus-circle"
					aria-hidden="true"></i> Criar Cliente</a>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">First Name</th>
							<th scope="col">Last Name</th>
							<th scope="col">E-mail</th>
							<th scope="col" style="width: 120px;">Ação</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="client : ${listClients}">
							<th scope="row" th:text="${client.id}">1</th>
							<td th:text="${client.firstName}">Mark</td>
							<td th:text="${client.lastName}">Otto</td>
							<td th:text="${client.email}">Otto</td>
							<td><a class="btn btn-primary btn-sm js-button-address"
								data-bs-toggle="tooltip" data-bs-placement="left"
								data-bs-title="Endereços" th:attr="data-identity=${client.id}">
									<i class="fa fa-road" aria-hidden="true"></i>
							</a> <a class="btn btn-secondary btn-sm" data-bs-toggle="tooltip"
								data-bs-placement="left" data-bs-title="Editar"
								th:href="@{/clients/edit/{id}(id=${client.id})}"> <i
									class="fa fa-pencil" aria-hidden="true"></i>
							</a> <a class="btn btn-danger btn-sm" data-bs-toggle="tooltip"
								data-bs-placement="left" data-bs-title="Remover"
								th:onclick="|deleteClient('@{/clients/remove/{id}(id=${client.id})}')|">
									<i class="fa fa-trash" aria-hidden="true"></i>
							</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div id="modal-address" class="modal" tabindex="-1">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Endereços do Cliente</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div id="address-content">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-success js-add-address"><i class="fa fa-plus-circle"
					aria-hidden="true"></i> Adicionar</button>
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Fechar</button>
					</div>
				</div>
			</div>
		</div>
		
		<div id="modal-address-add" class="modal" tabindex="-1">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Criar Novo Endereço</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<form id="form-address-modal">
						<div class="modal-body">
							<div class="row">
								<!-- Row 1 -->
								<div class="col-3">
									<label for="postal-code" class="form-label">CEP:</label>
	    							<input type="text" class="form-control" id="postal-code" name="postalCode">
								</div>
								<div class="col-9">
									<label for="address" class="form-label">Endereço:</label>
	    							<input type="text" class="form-control js-error js-error-address" id="address" name="address">
								</div>
								
								<!-- Row 2 -->
								<div class="col-4">
									<label for="number" class="form-label">Número:</label>
	    							<input type="text" class="form-control js-error js-error-number" id="number" name="number">
								</div>
								<div class="col-4">
									<label for="complement" class="form-label">Complemento:</label>
	    							<input type="text" class="form-control" id="complement" name="complement">
								</div>
								<div class="col-4">
									<label for="country" class="form-label">Bairro:</label>
	    							<input type="text" class="form-control" id="country" name="country">
								</div>
								
								<!-- Row 3 -->
								<div class="col-6">
									<label for="city" class="form-label">Cidade:</label>
	    							<input type="text" class="form-control" id="city" name="city">
								</div>
								<div class="col-6">
									<label for="state" class="form-label">Estado:</label>
	    							<input type="text" class="form-control" id="state" name="state">
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"
						aria-hidden="true"></i> Salvar</button>
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">Fechar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>



	<th:block layout:fragment="javascripts-extras">
		<script>
			function deleteClient(url) {
				Swal.fire({
				  title: "Deseja remover?",
				  text: "Confirmar a excluir do Cliente.",
				  icon: "warning",
				  showCancelButton: true,
				  cancelButtonText: "Cancelar",
				  confirmButtonColor: "#3085d6",
				  cancelButtonColor: "#d33",
				  confirmButtonText: "Remover"
				}).then((result) => {
				  if (result.isConfirmed) {
				  	window.location.href = url;
				  }
				});
			}
			
			function deleteAddress(idAddress) {
				$.ajax({
					url: `/api/v1/addresses/${idAddress}`,
					type: 'DELETE',
					beforeSend: function() {
						$.blockUI(optionsBlockUI)
					},
					success: function(response) {
						$(`#row-address-${idAddress}`).remove();
					},
					error: function(xhr, status, error) {
					
					},
					complete: function() {
						$.unblockUI();
					}
				});
			}
			
			$(document).ready(function() {
				$('.js-button-address').on('click', function() {
					const idClient = $(this).data('identity');
					$.ajax({
						url: `/addresses/client/${idClient}`,
						beforeSend: function() {
							$.blockUI(optionsBlockUI)
						},
						success: function(response) {
							if(response){
								$('#address-content').html(response);
							}							
							$('#modal-address').modal('show');
						},
						error: function(xhr, status, error) {
						
						},
						complete: function() {
							$.unblockUI();
						}
					});
				});	

				$('.js-add-address').on('click', function() {
					$('.js-error').each((index,item) => {
						$(item).removeClass('is-invalid')
					});
					$('input').each((index,item) => {
						$(item).val('');
					});
					$('#modal-address-add').modal('show');
				});

				$('#form-address-modal').on('submit', function(event) {
					event.preventDefault();									
					const data = $('#form-address-modal').serializeJSON();

					$.ajax({
						url: `/api/v1/addresses`,
						type: 'POST',
						data: JSON.stringify(data),
						contentType: "application/json",
						beforeSend: function() {
							$.blockUI(optionsBlockUI);
							$('.js-error').each((index,item) => {
								$(item).removeClass('is-invalid')
							});
						},
						success: function(response) {
							console.log(response);
							$('.js-error').each((index,item) => {
								$(item).addClass('is-invalid')
							});
						},
						error: function(xhr, status, error) {							
							console.log(xhr);
							console.log(status);
						},
						complete: function() {
							$.unblockUI();
						}
					});					
				});
			});
		</script>
	</th:block>
</body>

</html>