<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/layout.html}">

<body>
	<main class="my-5" layout:fragment="content">
		<div class="row justify-content-between text-end">
			<div class="col"></div>
			<div class="col">
				<a type="button" class="btn btn-secondary"
					th:href="@{/clients/create}"><i class="fa fa-plus-circle"
					aria-hidden="true"></i> Criar Cliente</a>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">First Name</th>
							<th scope="col">Last Name</th>
							<th scope="col">E-mail</th>
							<th scope="col">Ação</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="client : ${listClients}">
							<th scope="row" th:text="${client.id}">1</th>
							<td th:text="${client.firstName}">Mark</td>
							<td th:text="${client.lastName}">Otto</td>
							<td th:text="${client.email}">Otto</td>
							<td>
								<a href="#">
									<i class="fa fa-road" aria-hidden="true"></i>
								</a>
							</td>
						</tr>						
					</tbody>
				</table>
			</div>
		</div>
	</main>
	<th:block layout:fragment="javascripts-extras">
		<script>
			$(document).ready(function () {
			});
		</script>
	</th:block>
</body>

</html>